@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <form action="/Account/Logout" method="post" new { id = "logoutForm", class = "navbar-right" }>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Account/Profile?email=@User.Identity.Name">Hello @User.Identity.Name!</a>
            </li>
            &emsp; &emsp;
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Account/Register",htmlAttributes: new { id = "registerLink" }>Register</a></li>
        &emsp; &emsp;
        <li><a href="/Account/Login", htmlAttributes: new { id = "loginLink" }>Login</a></li>
    </ul>
}